@use '@/styles' as *;

.button {
  width: 100%;
  padding: 1rem;
  border-radius: $radius-1;
  cursor: pointer;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform ease-in-out 0.3s;
  background-color: transparent;
  border: none;

  &:hover {
    transform: scale(1.02);
    transition: transform ease-in-out 0.3s;
    border-color: $color-gray-2;
  }

  &--primary {
    font-size: 1.5rem;
    background-color: $color-tertiary;
    &:hover {
      background-color: $color-secondary;
      color: $color-tertiary;
      border: 1px solid $color-tertiary;
    }
  }

  &--secondary {
    font-size: 1.5rem;
    background-color: $color-blue-4;
    color: #fff;
    &:hover {
      background-color: $color-blue-1;
    }
  }

  &--ternary {
    background-color: $color-blue-5;
    color: #fff;
    &:hover {
      background-color: $color-blue-4;
    }
  }

  &--quaternary {
    border: 1px solid $color-gray-2;
  }
}
