@use '@/styles' as *;

.button {
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  background-color: $color-tertiary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: $color-secondary;
}
