@use '@/styles' as *;

.dashboard-page {
  &__header {
    margin: $dashboard-title-margin 0;
  }

  &__earnings {
    margin: clamp(2rem, 6vw, 5rem) 0;
  }

  &__activities {
    display: flex;
    justify-content: space-between;

    @include lg {
      flex-direction: column-reverse;
      gap: 2rem;
    }
  }

  &__activity-chart {
    flex: 1;
    position: relative;
    box-shadow: $box-shadow-primary;
    border-radius: 2rem;
    margin-right: 2rem;
    height: auto;
    img {
      padding: 2rem;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    @include lg {
      margin-right: 0;
      flex: auto;
      width: 100%;
      height: clamp(20rem, 30vw, 50rem);
    }
  }
}
