@use '@/styles' as *;

.users {
  width: 100%;
  table-layout: fixed;
  min-width: 120rem;

  td {
    position: relative;
    width: 100%;
  }

  input {
    width: 100%;
    border: none;
    padding: 0.2rem 0.4rem;
  }

  td,
  th {
    padding: 4px;
  }

  tr:nth-child(even) {
    background-color: $color-blue-6;
  }

  tr:nth-child(odd) {
    background-color: $color-blue-7;
  }

  th {
    padding: 1rem 0.4rem;
    text-align: left;
    background-color: $color-blue-4;
    color: white;
  }

  th:nth-last-child(1) {
    width: 9rem;
  }

  th:nth-last-child(2) {
    width: 5rem;
  }

  th:nth-last-child(3) {
    width: 12rem;
  }

  th:nth-child(3) {
    width: 10%;
  }

  th:nth-child(1),
  th:nth-child(2) {
    width: 20%;
  }

  td:nth-last-child(1) {
    display: flex;
    gap: 0.2rem;
  }

  button {
    width: auto;
    height: auto;
  }

  th:nth-last-child(-n + 2) span {
    display: none;
  }
}
