$color-primary: #d6d6d6;
$color-secondary: #03222f;
$color-tertiary: #ffffff;

$color-green-1: #008000;
$color-green-2: #eff6e0;
$color-green-3: #aec3b0;
$color-green-4: #61c761;

$color-blue-1: #124559;
$color-blue-2: #598392;

$color-gray-1: #aec3b0;

$box-shadow-primary: 0px 4px 10px rgba(0, 0, 0, 0.15);

$background-modal-color-1: rgba(36, 36, 36, 0.8);
