$color-primary: #d6d6d6;
$color-secondary: #03222f;
$color-tertiary: #ffffff;

$color-green-1: #008000;
$color-green-2: #61c761;
$color-green-3: #aec3b0;

$color-yellow-1: #eff6e0;

$color-blue-1: #124559;
$color-blue-2: #598392;
$color-blue-3: #4d7b7e;
$color-blue-4: #0a3d4f;
$color-blue-5: #3f7c83;
$color-blue-6: #e2f5f5;
$color-blue-7: #a0d0d4;

$color-gray-1: #aec3b0;
$color-gray-2: #cacaca;

$color-red-1: #d00404;

$color-white-1: #f5f5f5;

$box-shadow-primary: 0px 4px 10px rgba(0, 0, 0, 0.15);

$background-modal-color-1: rgba(36, 36, 36, 0.8);
