@use '@/styles' as *;

.error-warning {
  position: absolute;
  right: 0;
  top: 0;

  p {
    margin-bottom: 1rem;
  }

  &__wrapper {
    margin-top: 1rem;
    color: $color-secondary;
    background-color: $color-red-1;
    color: #fff;
    padding: 2rem 4rem;
    box-shadow: $box-shadow-primary;
    border-radius: 1rem 0 0 1rem;
  }
}
