@use '@/styles' as *;

.earnings {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__wrapper {
    width: calc(100% / 4 - 0.8rem);
    box-shadow: $box-shadow-primary;
    background-color: $color-secondary;
    border-radius: $radius-1;
    padding: 2rem;
    margin-right: 1rem;
    color: #000000;

    @include md {
      width: calc(100% / 2 - 0.5rem);
      margin-bottom: 2rem;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }

  &__wrapper:last-child {
    margin-right: 0rem;
  }

  &__wrapper:nth-child(1) {
    color: $color-blue-1;
    background-color: $color-yellow-1;
  }

  &__wrapper:nth-child(2) {
    color: $color-blue-1;
    background-color: $color-green-3;
  }

  &__wrapper:nth-child(3) {
    color: $color-yellow-1;
    background-color: $color-blue-2;
    .earnings__percentage {
      color: $color-green-2;
    }
  }

  &__wrapper:nth-child(4) {
    color: $color-yellow-1;
    background-color: $color-blue-1;
    .earnings__percentage {
      color: $color-green-2;
    }
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__value {
    font-size: clamp(2.4rem, 3vw, 3.2rem);
    margin-bottom: 1rem;
    font-weight: 800;
  }

  &__percentage {
    color: $color-green-1;
  }
}
