@use '@/styles' as *;

.loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  background-color: $color-white-1;

  &__wrapper {
    color: $color-secondary;
    text-align: center;
    background-color: $color-tertiary;
    padding: 2rem 8rem;
    box-shadow: $box-shadow-primary;
    border-radius: 2rem;
  }

  &__image {
    margin-bottom: 2rem;
  }
}
